.form{
  display: flex;
  flex-direction: column;
  background-color: rgb(156, 150, 144);
  width: 50%;
  height: 30%;
  border-radius: 1em;
  box-shadow: 1.5px 3px 0 rgba(152, 152, 152, 0.2); 
  justify-content: space-evenly;
  align-items: 
}

.inputCont {
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
}

.input {
  width: 80%;
}

.buttonCont {
  display: flex;
  gap: 1em;
  padding: 0 3em;
}

.button {
  flex:1;
  padding: .2em;
}

.errorInput {
  border-color: red;
  background-color: rgb(241, 196, 196);
}